.botoesSalvarVoltar {
	margin-right: 10px;
}

.form-control {
	font-size: 14px !important;
	height: initial !important;;
}

.btn {
	font-size: 14px !important;
}

.clicavel {
	cursor: pointer;
}

.botaoLoginLogout {
	border-radius: 6px;
	display: inline-block;
	font-size: 17px;
	height: 35px;
	left: 0;
	line-height: 35px;
	margin-right: 14px;
	position: relative;
	text-align: center;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	width: 35px;
}

.fade:not(.show) {
	opacity: 1 !important;
}